<div class="container">
  <h1 class="mt-3 mb-3 text-center">Fresh Market</h1>
  <h6 class="mt-3 mb-3 text-center">
    The Only place where you can order fresh farmers products to your home
  </h6>
  <div class="row">
    <div class="col-md-6 mb-3 wrapperImage">
      <img
        src="/assets/images/shopping-cart-1275480_1920.jpg"
        class="image mb-3"
        id="imageSrcCart"
      />
      <div class="wrapperTextHover">
        <div class="textHover">No Need To Leave The House</div>
      </div>
    </div>
    <div class="col-md-6 mb-3 wrapperImage">
      <img
        class="image mb-3"
        src="/assets/images/tomatoes-1561565_1920.jpg"
        id="imageSrcVegetables"
      />
      <div class="wrapperTextHover">
        <div class="textHover">Fresh Vegetables</div>
      </div>
    </div>
    <div class="col-md-6 mb-3 wrapperImage">
      <img
        class="image mb-3"
        src="/assets/images/apple-1873078_1920.jpg"
        id="imageSrcFruits"
      />
      <div class="wrapperTextHover">
        <div class="textHover">Fresh Fruits</div>
      </div>
    </div>

    <div class="col-md-6 mb-3 wrapperImage">
      <img
        class="image mb-3"
        src="../../../assets/images/lifestyle-5519776_1920.jpg"
      />
      <div class="wrapperTextHover">
        <div class="textHover">Vegan Friendly</div>
      </div>
    </div>
    <div class="col-md-6 mb-3 wrapperImage">
      <img
        class="image mb-3"
        src="../../../assets/images/call-center-2537390_1920.jpg"
      />
      <div class="wrapperTextHover">
        <div class="textHover">24h Customer Service</div>
      </div>
    </div>
    <div class="col-md-6 mb-3 wrapperImage">
      <img
        class="image mb-3"
        src="../../../assets/images/peasant-452904_1920.jpg"
      />
      <div class="wrapperTextHover">
        <div class="textHover">Only Farmer's Products</div>
      </div>
    </div>
  </div>
</div>
