.cart-container {
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-product-card {
  width: 13rem;
  background: #0000ff05;
}

.remove-cart-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}

.remove-product-icon {
  position: absolute;
  top: 0px;
  right: 0px;
}

.item-container {
  position: relative;
}

.add-row {
  display: flex;
  flex-direction: row;
}

.imgCard {
  height: 80px;
  width: 90px;
}
