<div class="cart-container">
  <h4>Cart</h4>
  <fa-icon
    class="remove-cart-icon"
    [icon]="faTrash"
    (click)="onRemoveCart(cart.id)"
    *ngIf="showEditItems"
  ></fa-icon>
  <div *ngIf="!cart || !cart.items || cart.items.length === 0">
    Your cart is empty
    <br />
    Add products from products list on the right
  </div>
  <div *ngIf="cart && cart.items && cart.items.length > 0">
    <div class="row" *ngFor="let item of cartItems">
      <div class="card cart-product-card shadow-sm mt-3">
        <div class="card-body product-card">
          <div class="item-container">
            <h5 class="card-title">{{ item.name }}</h5>
            <fa-icon
              class="remove-product-icon"
              [icon]="faTimesCircle"
              (click)="onRemove(item)"
              *ngIf="showEditItems"
            ></fa-icon>
            <img
              class="card-img-top imgCard"
              src="{{ environment.baseUrl.images + item.product_image }}"
              alt="Card image cap"
            />
            <p class="card-text">units: {{ item.product_units }}</p>
            <p class="card-text">price: {{ item.item_price }}₪</p>

            <p class="card-text">price per 1: {{ item.product_price }}₪</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h6 class="mt-3">
        <hr />
        Total Price: {{ totalPrice }}
      </h6>
    </div>
    <div class="row" *ngIf="showEditItems">
      <button
        routerLink="/order"
        routerLinkActive="active"
        class="mt-3 btn btn-success"
      >
        Place order
      </button>
    </div>
  </div>
</div>
