<h1 class="mb-3 text-center mt-3">Hello Admin</h1>
<div *ngIf="!editingProduct">
  <button
    class="row btn btn-outline-secondary ml-3 mb-3"
    routerLink="/admin/add/product"
    routerLinkActive="active"
  >
    <small>
      Add Product
      <fa-icon class="close-icon ml-1" [icon]="faPlus"></fa-icon>
    </small>
  </button>
  <div class="row">
    <div class="col-md-5 mb-3" *ngFor="let product of productsToShow">
      <div class="card cardProduct">
        <div class="card-body">
          <fa-icon
            class="close-icon"
            [icon]="faEdit"
            (click)="onEdit(product)"
          ></fa-icon>
          <p class="card-text text-center">
            <small>Catrgory: {{ product.category_name }}</small>
          </p>
          <p>
            <small>Product Id: {{ product.product_id }}</small>
          </p>
          <h5 class="card-title">{{ product.name }}</h5>
          <img
            class="card-img-top imgProduct"
            src="{{ environment.baseUrl.images + product.product_image }}"
            alt="Card image cap"
          />
          <p class="card-text">price: {{ product.product_price }}₪</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="editingProduct">
  <app-products-edit
    [(product)]="productToEdit"
    [(editingProduct)]="editingProduct"
  ></app-products-edit>
</div>
