<h1 class="text-center" *ngIf="customer">Hello {{ customer.firstName }}</h1>
<app-category-navbar></app-category-navbar>
<div class="row">
  <div class="col-md-3 shadow-sm mr-3"><app-cart-list></app-cart-list></div>
  <div class="col-md-8 shadow-sm">
    <div class="row">
      <div class="col-md-5" *ngFor="let product of productsToShow">
        <div
          class="card product-card shadow-sm mt-3"
          *ngIf="
            product &&
            product.name &&
            product.name.toLowerCase().includes(searchString.toLowerCase())
          "
        >
          <div class="card-body product-card">
            <p class="card-text text-center">
              <small>{{ product.category_name }}</small>
            </p>
            <h5 class="card-title">{{ product.name }}</h5>
            <img
              class="card-img-top"
              src="{{ environment.baseUrl.images + product.product_image }}"
              alt="Card image cap"
            />
            <p class="card-text">price: {{ product.product_price }}₪</p>
            <div class="row add-row>">
              <input
                class="qty-input"
                type="number"
                value="1"
                (change)="product.units_to_buy = $event.target.value"
              />
              <button
                class="btn btn-primary mt-2 product-add-btn"
                (click)="onAddToCart(product)"
              >
                Add to Cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
