<div class="container mt-3">
  <div class="text-center mt-3 mb-3">
    <img
      src="/assets/images/logo.jpg"
      class="logoImage mb-3"
      id="imageSrcCart"
    />
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="card mt-1 mb-1 col-md-9">
      <div class="aboutText mt-3 mb-3 ml-4 mr-4">
        <small>
          "Fresh Market" was founded by Kobi Locos in 1901, in a small town near
          Boston, Massachusetts. Back than, he used to grow and sell all the
          products- vegetables, fruits, fresh milk and fresh meat. After World
          War II Locos moved to NYC and opened his first big supermarket. After
          a decade, there were another 55 branches around the country. Kobi
          Locos passed away in 1983, and left the supermarkets to his daughter,
          Jackie Locos. Like her father, she also believed in fresh food and
          great customer service as key to success. In 2002, the website went up
          on air for the first time. After few years, Jackie Locos decieded to
          close most of the supermarket's stores and becoming an online
          retailer. She decieded to keep the first Fresh Market store that her
          dad opened:
          <i
            >"My dad loved this store, and it's a good memory of him and his big
            personalty. I decieded to make Fresh Market an online supermarket
            mostly because of global warming. By selling online, we still
            supporting local farmers, and give our customers better service and
            bigger variety of products".</i
          >
          You are more than welcome to visit our NYC store, and of course- shop
          here!
        </small>
      </div>
    </div>
  </div>
  <div class="mt-4 text-center">Contact Us!</div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="mt-3 mb-3 col-md-3">
      <small>
        <a
          className="contactMedia row"
          href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=abc@example.com"
          target="_blank"
        >
          Fresh Market's Email
        </a>
        <fa-icon class="close-icon col-md-1" [icon]="faEnvelope"></fa-icon>
      </small>
    </div>
    <div class="mt-3 mb-3 col-md-4">
      <small>
        <fa-icon class="close-icon mr-1" [icon]="faPhone"></fa-icon>
        Customer Service 24/7: +1-202-555-0124
      </small>
    </div>
    <div class="mt-3 mb-3 col-md-4">
      <small>
        <fa-icon class="close-icon mr-1" [icon]="faPhone"></fa-icon>
        Offices: +1-202-555-0123
      </small>
    </div>
  </div>
  <hr />
  <div class="row mb-3">
    <div class="mt-3 mb-3 col-md-3">
      <fa-icon class="close-icon mr-3" [icon]="faFacebook"></fa-icon>
      <small>
        <a className="mb-3" href="https://www.facebook.com" target="_blank"
          >Fresh Market on Facebook
        </a>
      </small>
    </div>
    <div class="mt-3 mb-3 col-md-3">
      <fa-icon class="close-icon mr-1" [icon]="faInstagram"></fa-icon>
      <small>
        <a className="mb-3" href="https://www.instagram.com" target="_blank"
          >Fresh Market on Twitter
        </a>
      </small>
    </div>
    <div class="mt-3 mb-3 col-md-3">
      <fa-icon class="close-icon mr-1" [icon]="faTelegram"></fa-icon>
      <small>
        <a className="mb-3" href="https://www.telegram.com" target="_blank"
          >Fresh Market on Telegram
        </a>
      </small>
    </div>
    <div class="mt-3 mb-3 col-md-3 linkBlack">
      <fa-icon class="close-icon mr-1" [icon]="faTwitter"></fa-icon>
      <small>
        <a
          className="mb-3 linkBlack"
          href="https://www.twitter.com"
          target="_blank"
          >Fresh Market on Twitter
        </a>
      </small>
    </div>
  </div>
</div>
