<h1>Register</h1>
<div class="row">
  <div class="col-md-6">
    <form>
      <div class="form-group">
        <label for="firstname"> First Name </label>
        <input
          type="text"
          class="form-control"
          name="firstname"
          id="firstname"
        />
      </div>
      <div class="form-group">
        <label for="lastname"> Last Name </label>
        <input type="text" class="form-control" name="lastname" id="lastname" />
      </div>
      <div class="form-group">
        <label for="email"> Email </label>
        <input type="email" class="form-control" name="email" id="email" />
      </div>
      <div class="form-group">
        <label for="customer_id_number"> ID Number </label>
        <input
          type="number"
          class="form-control"
          name="customer_id_number"
          id="customer_id_number"
        />
      </div>
      <div class="form-group">
        <label for="city"> City </label>
        <input type="text" class="form-control" name="city" id="city" />
      </div>
      <div class="form-group">
        <label for="street"> Street </label>
        <input type="text" class="form-control" name="street" id="street" />
      </div>
      <div class="form-group">
        <label for="password"> password </label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="password"
        />
      </div>
      <button class="btn btn-success">Register</button>
    </form>
  </div>
</div>
