<h1>Register</h1>
<div class="row">
  <div class="col-md-6">
    <form [formGroup]="registerForm" (ngSubmit)="onRegisterSubmit()">
      <div class="form-group">
        <label for="firstName"> First Name </label>
        <input
          type="text"
          class="form-control"
          formControlName="firstName"
          id="firstName"
        />
        <div
          *ngIf="registerForm.get('firstName').invalid && showErrors"
          class="alert alert-danger"
        >
          <div *ngIf="registerForm.get('firstName').errors.required">
            Name is required.
          </div>
          <div *ngIf="registerForm.get('firstName').errors.maxlength">
            Name cannot be more than 30 characters long.
          </div>
          <div *ngIf="registerForm.get('firstName').errors.minlength">
            Name must be at least 2 characters long.
          </div>
          <div *ngIf="registerForm.get('firstName').errors.pattern">
            Name can inclide only English letters.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName"> Last Name </label>
        <input
          type="text"
          class="form-control"
          formControlName="lastName"
          id="lastName"
        />
        <div
          *ngIf="registerForm.get('lastName').invalid && showErrors"
          class="alert alert-danger"
        >
          <div *ngIf="registerForm.get('lastName').errors.required">
            Last Name is required.
          </div>
          <div *ngIf="registerForm.get('lastName').errors.minlength">
            Last Name cannot be more than 30 characters long.
          </div>
          <div *ngIf="registerForm.get('lastName').errors.minlength">
            Last Name must be at least 2 characters long.
          </div>
          <div *ngIf="registerForm.get('lastName').errors.pattern">
            Last Name can inclide only English letters.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email"> Email </label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          id="email"
        />
        <div
          *ngIf="registerForm.get('email').invalid && showErrors"
          class="alert alert-danger"
        >
          <div *ngIf="registerForm.get('email').errors.required">
            Email is required.
          </div>
          <div *ngIf="registerForm.get('email').errors.maxlength">
            Email cannot be more than 60 characters long.
          </div>
          <div *ngIf="registerForm.get('email').errors.minlength">
            Email must be at least 2 characters long.
          </div>
          <div *ngIf="registerForm.get('email').errors.email">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="identification_number"> ID Number </label>
        <input
          type="number"
          class="form-control"
          formControlName="identification_number"
          id="identification_number"
        />
        <div
          *ngIf="
            registerForm.get('identification_number').invalid && showErrors
          "
          class="alert alert-danger"
        >
          <div
            *ngIf="registerForm.get('identification_number').errors.required"
          >
            Idetification Number is required.
          </div>
          <div
            *ngIf="registerForm.get('identification_number').errors.maxlength"
          >
            IdetificationNumber cannot be more than 10 characters long.
          </div>
          <div
            *ngIf="registerForm.get('identification_number').errors.minlength"
          >
            Idetification Number must be at least 8 characters long.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="city"> City </label>
        <input
          type="text"
          class="form-control"
          formControlName="city"
          id="city"
        />
        <div
          *ngIf="registerForm.get('city').invalid && showErrors"
          class="alert alert-danger"
        >
          <div *ngIf="registerForm.get('city').errors.required">
            City is required.
          </div>
          <div *ngIf="registerForm.get('city').errors.maxlength">
            City cannot be more than 30 characters long.
          </div>
          <div *ngIf="registerForm.get('city').errors.minlength">
            City must be at least 3 characters long.
          </div>
          <div *ngIf="registerForm.get('city').errors.pattern">
            City can inclide only English letters.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="street"> Street </label>
        <input
          type="text"
          class="form-control"
          formControlName="street"
          id="street"
        />
        <div
          *ngIf="registerForm.get('street').invalid && showErrors"
          class="alert alert-danger"
        >
          <div *ngIf="registerForm.get('street').errors.required">
            Street is required.
          </div>
          <div *ngIf="registerForm.get('street').errors.maxlength">
            Street cannot be more than 50 characters long.
          </div>
          <div *ngIf="registerForm.get('street').errors.minlength">
            Street must be at least 3 characters long.
          </div>
          <div *ngIf="registerForm.get('street').errors.pattern">
            Street can inclide only English letters.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password"> password </label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          id="password"
        />
        <div
          *ngIf="registerForm.get('password').invalid && showErrors"
          class="alert alert-danger"
        >
          <div *ngIf="registerForm.get('password').errors.required">
            Password is required.
          </div>
          <div *ngIf="registerForm.get('password').errors.maxlength">
            Password cannot be more than 100 characters long.
          </div>
          <div *ngIf="registerForm.get('password').errors.minlength">
            Password must be at least 6 characters long.
          </div>
          <div *ngIf="registerForm.get('password').errors.pattern">
            Please use only English letters and digits.
          </div>
        </div>
      </div>
      <button class="btn btn-success">Register</button>
    </form>
  </div>
</div>
